{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Nirmal</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'css/login_page.css' %}" >
   
    
</head>

<body>
    
    

    <!-- Bootstrap JS -->
  <div class="content">
  <form action="{% url "login_page" %}" method="POST">
    {% csrf_token %}
    <h2>Login in Nirmal</h2>

    <div class="input-box">
      <input type="text" placeholder="Username" name="username" required />
      
    </div>
    <div class="input-box">
      <input type="password" id="password" placeholder="Password" name="password" required autocomplete="new-password" />
   
    </div>
    <div class="remember">

      <a href="{% url "password_reset" %}">Forgot Password?</a>
    </div>
    <button type="submit" class="btnn">Login</button>
    {% comment %} <div class="button">
      <a href="#"> <i class="ri-google-fill"></i> Google </a>--<a href="#">
        <i class="ri-facebook-fill"></i> Facebook
      </a>
    </div> {% endcomment %}
  </form>
</div>

{% comment %} <script {% static 'js/login_page.js' %}></script> {% endcomment %}






   
</body>


</html>